@{
    ViewData["Title"] = "Home Page";
}

<div class="container row">
    <section id="news" class="col-md">
        <h2>University News</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </section>

    <aside class="col-sm">
        <h2>Upcoming Events</h2>
        <div class="shadow-sm m-2">
            <h2>Event #1</h2>
            <p class="event">Event details</p>
        </div>
        <div class="shadow-sm m-2">
            <h2>Event #2</h2>
            <p class="event">Event details</p>
        </div>
        <div class="shadow-sm m-2">
            <h2>Event #3</h2>
            <p class="event">Event details</p>
        </div>
    </aside>
</div>

<section id="faculty">
    <h2>Faculty Highlights</h2>
    <div class="container row">
        <div class="col-sm">
            <img src="~/content/images/professor-1-640px.jpg" alt="AJ University's Computer Science Professor, Bobby McBobberson, demonstrates new visual techniques." class="img-fluid" />
        </div>
        <div class="col-sm">
            <img src="~/content/images/professor-2-640px.jpg" alt="AJ University's Communications Department Head, Billy McBillerson, discusses his vision for the coming year." class="img-fluid" />
        </div>
    </div>
</section>